<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Autocompleteplus\Autosuggest\Api\Data\BatchSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Autocompleteplus\Autosuggest\Api\Data\NotificationSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Autocompleteplus\Autosuggest\Api\Data\PusherSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="Autocompleteplus\Autosuggest\Api\Data\BatchInterface" type="Autocompleteplus\Autosuggest\Model\Batch" />
    <preference for="Autocompleteplus\Autosuggest\Api\Data\NotificationInterface" type="Autocompleteplus\Autosuggest\Model\Notification" />
    <preference for="Autocompleteplus\Autosuggest\Api\Data\PusherInterface" type="Autocompleteplus\Autosuggest\Model\Pusher" />

    <preference for="Autocompleteplus\Autosuggest\Api\BatchRepositoryInterface" type="Autocompleteplus\Autosuggest\Model\BatchRepository" />
    <preference for="Autocompleteplus\Autosuggest\Api\NotificationRepositoryInterface" type="Autocompleteplus\Autosuggest\Model\NotificationRepository" />
    <preference for="Autocompleteplus\Autosuggest\Api\PusherRepositoryInterface" type="Autocompleteplus\Autosuggest\Model\PusherRepository" />

    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Model\Plugin\CatalogSearch\ProductCollection"
                sortOrder="1000"/>
    </type>
    <type name="Magento\CatalogSearch\Controller\Result\Index">
        <plugin name="autosuggest_catalogsearch_result_index" type="Autocompleteplus\Autosuggest\Model\Plugin\CatalogSearch\Result\Index"
                sortOrder="1000"/>
    </type>
    <type name="\Magento\Search\Helper\Data">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Helper\Plugin\CatalogSearch"
                sortOrder="1000"/>
    </type>
</config>