<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Autocompleteplus\Autosuggest\Api\Data\BatchSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Autocompleteplus\Autosuggest\Api\Data\NotificationSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Autocompleteplus\Autosuggest\Api\Data\PusherSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="Autocompleteplus\Autosuggest\Api\Data\BatchInterface" type="Autocompleteplus\Autosuggest\Model\Batch" />
    <preference for="Autocompleteplus\Autosuggest\Api\Data\NotificationInterface" type="Autocompleteplus\Autosuggest\Model\Notification" />
    <preference for="Autocompleteplus\Autosuggest\Api\Data\PusherInterface" type="Autocompleteplus\Autosuggest\Model\Pusher" />

    <preference for="Autocompleteplus\Autosuggest\Api\BatchRepositoryInterface" type="Autocompleteplus\Autosuggest\Model\BatchRepository" />
    <preference for="Autocompleteplus\Autosuggest\Api\NotificationRepositoryInterface" type="Autocompleteplus\Autosuggest\Model\NotificationRepository" />
    <preference for="Autocompleteplus\Autosuggest\Api\PusherRepositoryInterface" type="Autocompleteplus\Autosuggest\Model\PusherRepository" />

    <type name="\Magento\Search\Helper\Data">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Helper\Plugin\CatalogSearch"
                sortOrder="1000"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Model\Plugin\Catalog\Product\Action"
                sortOrder="1000"/>
    </type>
    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Model\Plugin\Html\CategoryView"
                sortOrder="1000"/>
    </type>
    <type name="Magento\Catalog\Model\Design">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Model\Plugin\Html\Design"
                sortOrder="1000"/>
    </type>
    <type name="Magento\CatalogRule\Model\ResourceModel\Rule">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Helper\Plugin\CatalogRule"
                sortOrder="1000"/>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Helper\Plugin\CsrfValidatorSkip" />
    </type>
    <type name="Magento\Customer\Model\Checkout\ConfigProvider">
        <plugin name="autocompleteplus" type="Autocompleteplus\Autosuggest\Model\Plugin\Html\ConfigProvider"
                sortOrder="1000"/>
    </type>
    <type name="Magento\Catalog\Model\Indexer\Product\Price">
        <plugin name="autosuggest_catalog_index_price" type="Autocompleteplus\Autosuggest\Model\Plugin\Catalog\Index\Price"
                sortOrder="1000"/>
    </type>
</config>