<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Instantsearchplus. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="batch_observer" instance="Autocompleteplus\Autosuggest\Observer\ProductView" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="batch_observer" instance="Autocompleteplus\Autosuggest\Observer\Webhook" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="batch_observer" instance="Autocompleteplus\Autosuggest\Observer\Webhook" />
    </event>
</config>