<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="instantsearchplus" frontName="instantsearchplus">
            <module name="Autocompleteplus_Autosuggest"/>
        </route>
        <route id="autocompleteplus" frontName="autocompleteplus">
            <module name="Autocompleteplus_Autosuggest"/>
        </route>
    </router>
</config>
